<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="appUser ; else anonymousUser" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
           {{appUser.name}}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li> <a routerLink="/my-orders">My Orders</a></li>
           <ng-container *ngIf="appUser.isAdmin">
              <li><a routerLink="/admin/orders">Manage Orders admin</a></li>
              <li><a routerLink="/admin/products">Manage Products admin</a></li>
           </ng-container>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
      <ng-template #anonymousUser>
          <li><a routerLink="/login">Login</a></li>
      </ng-template>
      <li><a routerLink="/shopping-cart">Shopping Cart</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              Shopping Cart
              <span class="badge badge-warning badge-pill">
                {{shoppingCartItemCount}}
              </span>
            </a>
        </li>
        <li class="nav-item dropdown" *ngIf="appUser ; else anonymousUser" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{appUser.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a routerLink="/my-orders">My Orders</a></li>
              <ng-container *ngIf="appUser.isAdmin">
                 <li><a routerLink="/admin/orders">Manage Orders admin</a></li>
                 <li><a routerLink="/admin/products">Manage Products admin</a></li>
              </ng-container>
             <li><a (click)="logout()">Logout</a></li>
          </div>
        </li>
        <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ng-template>
      </ul>
    </div>
  </nav>